/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
/* outer div container */
.modal-content {
    background-color: white;
    padding: 0px 20px 30px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    height: 60vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }

.modal-close-row {
    background-color: red;
    width: 100%;
    height: auto;
    text-align: right;
}

.modal-close-btn {
    font-size: 20px;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .modal-close-btn:hover {
    color: #dc3545;
  }


  .modal-content-inner-row {
    display: flex;
    height: 100%;
  }


.modal-left,
.modal-right {
  text-align: left;
  background-color: yellow;
}
/* video control */
.modal-left {
  width: 55%;
}

.modal-right {
  width: 45%;
  /* padding: 0 10px; */
  display: flex;

}

.modal-right-image-div {
    width: 40%;
    padding: 0 10px 10px;
}

.modal-right-image-div img {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  
}
.buy-tickets-div {
  width: 100%;
  display: flex;
  flex-direction: row;
 
  padding: 10px 0;
}
.circular-progress-modal-div {
  width: 25%;
  height: 100%;
  padding: 5px 5px 5px 0;
}
.buy-tickets-btn-div {
  width: 75%;
  display: flex;
  align-items: center;
}
.buy-tickets-btn-div.full-width {
  width: 100%;
}

.modal-right-text-div {
    width: 60%;
    background-color: red;
}

.movie-release-date {
  color: #000; 

}



@media (max-width: 1024px) {
  .modal-content {
    padding: 0px 20px 30px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 70vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }

  .modal-close-row {
    background-color: red;
    width: 100%;
    height: 5%;
    text-align: right;
}

  .modal-content-inner-row {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    height: 100%;
  }

  .modal-right {
    padding: 0;
  }
  .modal-left {
    width: 100%;
    height: 70%;
  }

  .modal-right {
    width: 100%;
    height: 30%;
  }
}

/* Mobile adjustments */
@media (max-width: 767px) {
  .modal-left {
    width: 100%;
    height: 50%;
  }

  .modal-right {
    width: 100%;
    height: 40%;
  }
}
