/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
/* outer div container */
.modal-content {
    background-color: #000000;
    padding: 0px 20px 30px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    height: 70vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    border: 2px solid #3f3f3f;
  }

.modal-close-row {
    width: 100%;
    /* height: auto; */
    text-align: right;
    /* background-color: green; */
}

.modal-close-btn {
    font-size: 20px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .modal-close-btn:hover {
    color: #dc3545;
  }


  .modal-content-inner-row {
    display: flex;
    flex-direction: row;
    height: inherit;
    /* background-color: green; */
   
  }


.modal-left,
.modal-right {
  text-align: left;
  /* background-color: yellow; */
}
/* video control */
.modal-left {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
/* video div  */
.modal-left > div:nth-child(1)  {
  height: 70%;
  border: 2px solid #3f3f3f;
  border-radius: 10px;
}

.modal-left iframe {
  border-radius: 10px; 
  overflow: hidden;    
}
/* text under video div  */
.modal-left > div:nth-child(2)  {
   height: auto;
   color: white;
   padding-top: 10px;

}

.modal-right {
  width: 45%;
  height: 100%;
  display: flex;

}

.modal-right-image-div {
    width: 40%;
    padding: 0 10px 10px;
}

.modal-right-image-div img {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  
}
.buy-tickets-div {
  width: 100%;
  display: flex;
  flex-direction: row;
 
  padding: 10px 0;
}
.circular-progress-modal-div {
  width: 25%;
  height: 100%;
  padding: 5px 5px 5px 0;
}
.buy-tickets-btn-div {
  width: 75%;
  height: auto;
  display: flex;
  align-items: center;
  /* background-color: green; */
}
.buy-tickets-btn-div.full-width {
  width: 100%;
}



.buy-tickets-btn {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}

.buy-tickets-btn:hover {
  background-color: #3f3f3f;
  border: 1px solid #dc3545;
  color: #fff;
}
.movie-release-date, .movie-genres,.runtime {
  color: #fff;
  font-size: 14px;
  padding-right:5px ;
}
.modal-right-text-div {
    width: 60%;
    /* background-color: red; */
    color: #fff;
    height: 100%;
    /* background-color: red; */
}

.movie-details {
  border-bottom: 1px solid #3f3f3f;
}




@media (max-width: 1024px) {
  .modal-content {
    padding: 0px 20px 30px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 70vh;
    max-width: 1200px;
    display: flex;
    flex-direction: colum;
  }

  .modal-close-row {
    width: 100%;
    height: 5%;
    text-align: right;
}

  .modal-content-inner-row {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .modal-right {
    padding: 0;
  }
  .modal-left {
    width: 100%;
    height: 70%;
  }

  .modal-right {
    width: 100%;
    height: 30%;
  }
}

/* Mobile adjustments */
@media (max-width: 767px) {
  .modal-left {
    width: 100%;
    height: 50%;
  }

  .modal-right {
    width: 100%;
    height: 40%;
  }
}
