/* General Navigation Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Logo adjustments */
.navbar-logo {
  max-width: 100%;
}

.nav-link {
  color: var(--primary-gray);
  letter-spacing: 2px;
}

.nav-link:hover {
  color: var(--primary-red) !important;
}

/* search btns */
.search-btn {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 10px;
}

.search-btn:hover {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
  color: #000;

  padding: 10px 0;
}

.close-results {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  /* min-width: 50px; */
}

.close-results:hover {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
  color: #000;
  /* min-width: 50px; */

  padding: 10px 20px;
}

.searchdiv {
  text-align: center;
  width: 100%;
}

.searchbutton2 {
  padding: 15px 25px;
  margin: 0 5px;
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-input {
  padding: 12px;
  font-size: 18px; /* Adjust the font size */
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  width: 75%; /* Adjust the width as needed */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-form input::placeholder {
  color: red;
}

.search-form button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
@media (min-width: 1000px) {
  .searchdiv {
    text-align: center;
    display: none !important;
  }
}

/* Mobile size adjustments */
@media (max-width: 1200px) {
  .navbar-nav {
    font-size: 80%;
  }
}

@media (max-width: 1024px) {
  .navbar-nav {
    text-align: center;
    width: 100%;
    padding-left: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .search-input {
    width: 45%; /* Adjust the width as needed */
    margin: 20px 0;
  }


  .nav-link {
    font-size: 18px;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
  }
}
@media (max-width: 767px) {
  .navbar-logo {
    max-width: 150px; /* Smaller logo for mobile */
    height: auto;
  }

  /* Mobile Navigation Menu - Initially hidden off-screen */
  .navbar-collapse {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    transition: top 0.3s ease;
    z-index: 10;
    padding: 40px 0;
  }

  /* When the Menu is Open, slide down */
  .navbar-collapse.show {
    top: 60px;
  }

  /* Mobile Navigation Links */
  .navbar-nav {
    text-align: center;
    width: 100%;
    padding-left: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }


  .nav-link {
    font-size: 18px;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
  }

  /* Hide Search Section on mobile */
  .d-none.d-lg-block {
    display: none;
  }

  /* Mobile Menu Toggler */
  .navbar-toggler {
    z-index: 120; /* Ensure hamburger button is on top */
  }
}

@media (max-width: 500px) {
  .search-input {
    width: 55%; /* Adjust the width as needed */
  }
}
